@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Verdana, Tahoma, ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
p{
  font-family: Arial, Helvetica;
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}



@media (max-width: 1440px) {
  .wrapper{
      max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .wrapper{
      max-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .wrapper{
      max-width: 980px;
  }
}

@media (max-width: 980px) {
  .wrapper{
      max-width: 768px;
  }
  .fa-search{
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .wrapper{
      max-width: 640px;
  }
}
@media (max-width: 640px) {
  .wrapper{
      max-width: 540px;
  }
}
@media (max-width: 540px) {
  .wrapper{
      max-width: 480px;
  }
}
@media (max-width: 480px) {
  .wrapper{
      max-width: 360px;
  }
}
@media (max-width: 360px) {
  .wrapper{
      max-width: 320px;
  }
}

.input-slider{
  -webkit-appearance: none;
  background: none;
  z-index: 10;
  pointer-events: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='number']::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: red;
}